@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@mixin position($position: absolute, $top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Poppins", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$white:   #ffffff;
$black:   #000000;

html {
  padding: env(safe-area-inset);
}

html, body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  font-family: $font-family-sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: $black;
  color: $white;
}

/*============= Basic page style =============*/

/*-- Remove Button Outline --*/
button:focus,
a:focus,
a.btn:focus {
 -webkit-appearance: none;
 box-shadow: none;
 outline: 0;
 transition: all .6s ease;
}

/*-- Section --*/
section {
  padding: 200px 0;
  position: relative;
}

p {
  font-size: 1.125rem;
}

/* CUSTOM CONTAINER */
@media (min-width: 1170px) {
  .container { max-width: 1100px; }
}

@media (min-width: 1280px) {
  .container { max-width: 1260px; }
}

/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
 margin-bottom: 20px;
}

h1 {
  &::after {
    @include position (absolute, 100%, 0, null, 0);
    background-color: $white;
    content: '';
    height: 2px;
    margin: 10px auto;
    width: 5%;
  }

  small {
    display: block;
    font-size: 30%;
    font-weight: 400;
    letter-spacing: 3px;
  }
}

h2 {
  font-weight: 600;
  @media (max-width: 767.98px) {
    font-size: 1.5rem;
  }
}

h3, h5 {
  padding: 0;
  margin: 3rem 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  &::before,
  &::after {
    background-color: $white;
    display: inline-block;
    content: '';
    height: 1px;
    width: 50px;
  }

  &::after {
    margin: 0 0 6px 15px;
  }

  &::before {
    margin: 0 15px 6px 0;
  }
}


/*============= NAVIGATION =============*/

.navbar {
  font-weight: 700;
  letter-spacing: .1rem;
  padding: .7rem 1rem;
  text-transform: uppercase;
  transition: background-color .5s ease;

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .navbar-brand img {
    width: 90px;
  }

  .navbar-nav .nav-item {
   padding-right: .8rem;
   .nav-link {
    padding-top: .8rem;
  }
}

.custom-toggler-icon {
 font-size: 1.6rem;
}

&.solid,
&.solid-toggle {
 background: rgba(0, 0, 0, .9)!important;
 transition: background-color 1s ease;
}

&.solid .navbar-brand {
  transition: all 1s ease;
  img { display: none; }

  .logo-text {
    display: block;

  }
}

.logo-text {
  display: none;
}
}

/*============= LANDING PAGE =============*/

/*--- Fixed Landing Page Section --*/

.landing {
  display: table;
  height: 100vh;
  position: relative;
  width: 100%;
  z-index: -1;
}

.caption {
  @include position(absolute, 38%, null, null, null,);
  max-width: 100%;
  width: 100%;
  z-index: 1;

  @media (max-width: 575.98px) {
    top: 28%;
  }

  h1 {
    font-size: 4.5rem;
    font-weight: bold;
    padding-bottom: 1rem;

    @media (max-width: 991.98px) {
      font-size: 3.5rem;
      letter-spacing: .2rem;
      padding-bottom: .8rem;
    }

    @media (max-width: 767.98px) {
      font-size: 2.5rem;
      letter-spacing: .1rem;
      padding-bottom: .4rem;
    }

    @media (max-width: 575.98px) {
      font-size: 1.9rem;
      letter-spacing: .1rem;
      padding-bottom: .4rem;
    }

    &::after {
      display: none;
    }
  }

  p {
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding-bottom: 2rem;

    @media (max-width: 767.98px) {
      font-size: 1rem;
      letter-spacing: 0px;
    }

    @media (max-width: 575.98px) {
      font-size: 1rem;
      letter-spacing: 0px;
    }
  }
}

/*-- Technologies logo --*/

.tech-logo {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .hexagon {
    position: relative;
    width: 80px;
    height: 46.19px;
    margin: 23.09px 0;
    border-left: solid 1px #333333;
    border-right: solid 1px #333333;

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      width: 56.57px;
      height: 56.57px;
      -webkit-transform: scaleY(0.5774) rotate(-45deg);
      -ms-transform: scaleY(0.5774) rotate(-45deg);
      transform: scaleY(0.5774) rotate(-45deg);
      background-color: inherit;
      left: 10.7157px;
    }

    &::before {
      top: -28.2843px;
      border-top: solid 1.4142px #333333;
      border-right: solid 1.4142px #333333;
    }

    &::after {
      bottom: -28.2843px;
      border-bottom: solid 1.4142px #333333;
      border-left: solid 1.4142px #333333;
    }
  }

  &:hover .hexagon {
    background-color: $white;

    .icons {
      color: $black;
    }
  }

  .icons {
    @include position(absolute, 50%, null, null, 50%);
    transform: translate(-50%,-50%);
    font-size: 50px;
    z-index: 999;
  }

  sapn {
    font-size: 15px;
  }
}

/* Team */
.team {
  padding: 1rem;
  transition: all .7s ease;

  h4 {
    transition: all .9s ease;
    small {
      display: block;
      font-size: 50%;
      letter-spacing: 3px;
      margin-bottom: 15px;
      margin-top: 5px;
    }
  }

  img {
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    transition: filter 0.9s ease;
  }

  &:hover {
    img {
      filter: none;
      -webkit-filter: grayscale(0);
    }

    h4 {
      color: $black;
    }

    background-color: #fff;
  }
}

/*============= CONTACT =============*/

.footer {
  padding: 200px 0 50px;

  .form-control {
    background: transparent;
    border: 1px solid #3a3a3a;
    font-size: 14px;
    border-radius: 0;
  }

  #info {
    @include position(absolute, null, null, 15px, 170px);
    font-size: 20px;
  }

  .contact-info {

    #map {
    background-color: $black;
    height: 500px;
    width: 100%;
  }

    h6 {
      color: #888787;

      &::after {
        @include position(absolute, 30px, null, 0, 45%);
        content: '';
        width: 40px;
        height: 1px;
        background-color: #888787;
      }
    }
  }

  @media (max-width: 767.98px) {
    .pr-0 { padding-right: 0; }
    .pl-0 { padding-left: 0; }
    #map { height: 350px; }
  }

  @media (max-width: 575.98px) {
    .pr-0 {
      padding-right: 0;
    }

    #map {
      height: 300px;
    }
  }

  .map {
    position: relative;
    width: 100%;
    height: 400px;

    &:hover {
      .map-overlay {
        background: rgba($black, .1);
      }
    }

    .map-overlay {
      @include position(absolute, 0, 0, 0, 0);
      background: rgba($black, .5);
      transition: 0.3s;
      pointer-events: none;
    }
  }
}

/*============= COPYRIGHT =============*/

.copyright {
  border-top: 1px solid #3a3a3a;
  padding: 10px 0;

  .list-inline .list-inline-item a {
    color: $white;
    &:hover {
      color: gray;
      text-decoration: none;
    }
  }
}
